---
import BaseLayout from "../layouts/BaseLayout.astro";
import PersonalCraft from "../components/PersonalCraft.astro";
import MyWork from "../components/MyWork.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

---

<BaseLayout>
  <Header/>
  <section class="hero">
    <h1>HEY, I'M LILA</h1>
    <p>/ Services</p>
    <p>Visual designer<br />UX/UI designer</p>
    <p class="scroll">scroll to explore ↓</p>
  </section>
  <About />
  <MyWork />
  <PersonalCraft />
  <Footer />
</BaseLayout>

<style>
  .hero {
    padding: 2rem;
  }

  h1 {
     line-height: 140%;
  }

  .scroll {
    display: flex;
    margin-top: 3rem;
    font-size: 1rem;
    color: #777;
    justify-content: flex-end;
  }
</style>
