---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="hero">
    <h1>HEY, I'M LILA</h1>
    <p>/ Services</p>
    <p>Visual designer<br />UX/UI designer</p>
    <p class="scroll">scroll to explore ↓</p>
  </section>
</BaseLayout>

<style>
  .hero {
    padding: 2rem;
    font-family: sans-serif;
  }

  .scroll {
    display: flex;
    margin-top: 3rem;
    font-size: 1rem;
    color: #777;
    justify-content: flex-end;
  }
</style>
