---
import BaseLayout from "../layouts/BaseLayout.astro";
import PersonalCraft from "../components/PersonalCraft.astro";
import MyWork from "../components/MyWork.astro";
import About from "../components/About.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<BaseLayout>
  <Header />
  <section class="hero">
    <div class="hero__section">
      <div class="hero__section__top">
        <div class="hero__title">
          <h1 class="header__title">HEY, I'M</h1>
          <div class="svg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
            >
              <path
                d="M7.0909 7.0909H0V10.9091H7.0909V18H10.3636V10.9091H18V7.0909H10.3636V0H7.0909V7.0909Z"
                fill="black"></path>
            </svg>
          </div>
          <p class="header__title__name">LILA</p>
        </div>

        <div class="services">
          <p class="services__text">/ Services</p>

          <div class="services__options">
            <p class="visual__designer">Visual designer</p>
            <p class="ux__designer">UX/UI designer</p>
          </div>
        </div>
      </div>

      <div class="explore__cta">
        <p class="scroll">scroll to explore</p>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="9"
          height="15"
          viewBox="0 0 9 15"
          fill="none"
        >
          <path
            d="M4.05045 14.4303C4.28808 14.6679 4.67335 14.6679 4.91097 14.4303L8.78332 10.5579C9.02095 10.3203 9.02095 9.93502 8.78332 9.69739C8.5457 9.45976 8.16043 9.45976 7.9228 9.69739L4.48071 13.1395L1.03863 9.69739C0.801 9.45976 0.415731 9.45976 0.178104 9.69739C-0.0595221 9.93502 -0.0595221 10.3203 0.178104 10.5579L4.05045 14.4303ZM4.48071 0L3.87223 2.65975e-08L3.87223 14L4.48071 14L5.08919 14L5.08919 -2.65975e-08L4.48071 0Z"
            fill="black"></path>
        </svg>
      </div>
    </div>
  </section>
  <About />
  <MyWork />
  <PersonalCraft />
  <Footer />
</BaseLayout>
