---

---

<footer class="footer">
  <h2 class="contact__title">Contact</h2>

  <div class="contact">
    <section class="general">
      <h3>general enquires</h3>
      <ul class="general__details">
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1 3C1 1.89543 1.89543 1 3 1H3.91442C4.488 1 4.98798 1.39037 5.1271 1.94683L5.86429 4.89562C5.98627 5.38353 5.80396 5.89703 5.40161 6.19879L4.5392 6.8456C4.44965 6.91276 4.43018 7.01112 4.45533 7.07979C5.21234 9.14632 6.85368 10.7877 8.92021 11.5447C8.98888 11.5698 9.08724 11.5504 9.1544 11.4608L9.80121 10.5984C10.103 10.196 10.6165 10.0137 11.1044 10.1357L14.0532 10.8729C14.6096 11.012 15 11.512 15 12.0856V13C15 14.1046 14.1046 15 13 15H11.5C5.70101 15 1 10.299 1 4.5V3Z"
              fill="#0F172A"></path>
          </svg> +32 484 26 15 85
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M1 5.7794V11.5C1 12.6046 1.89543 13.5 3 13.5H13C14.1046 13.5 15 12.6046 15 11.5V5.7794L9.04819 9.44205C8.40538 9.83762 7.59462 9.83763 6.95181 9.44205L1 5.7794Z"
              fill="#0F172A"></path>
            <path
              d="M15 4.60522V4.5C15 3.39543 14.1046 2.5 13 2.5H3C1.89543 2.5 1 3.39543 1 4.5V4.60522L7.4759 8.59039C7.79731 8.78818 8.20269 8.78818 8.5241 8.59039L15 4.60522Z"
              fill="#0F172A"></path>
          </svg>dalila.idigova04@gmail.com
        </li>
        <li>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M7.69316 14.9007C7.7133 14.9124 7.72913 14.9214 7.74034 14.9277L7.75895 14.9381C7.90753 15.0196 8.09184 15.019 8.24056 14.9383L8.25966 14.9277C8.27087 14.9214 8.2867 14.9124 8.30684 14.9007C8.34711 14.8774 8.40465 14.8433 8.477 14.7988C8.62164 14.7097 8.82583 14.5784 9.06974 14.4061C9.55673 14.0621 10.2065 13.5516 10.8577 12.8849C12.1538 11.5579 13.5 9.56411 13.5 7C13.5 3.96243 11.0376 1.5 8 1.5C4.96243 1.5 2.5 3.96243 2.5 7C2.5 9.56411 3.84622 11.5579 5.1423 12.8849C5.7935 13.5516 6.44327 14.0621 6.93026 14.4061C7.17417 14.5784 7.37836 14.7097 7.523 14.7988C7.59535 14.8433 7.65289 14.8774 7.69316 14.9007ZM8 9C9.10457 9 10 8.10457 10 7C10 5.89543 9.10457 5 8 5C6.89543 5 6 5.89543 6 7C6 8.10457 6.89543 9 8 9Z"
              fill="#0F172A"></path>
          </svg>Ghent, Belgium
        </li>
      </ul>
    </section>

    <section class="socials">
      <h3>socials</h3>
      <ul>
        <li>
          <img
            src="/src/assets/linkedin_icon.png"
            alt="linkedin icon png"
            height="16px"
            width="16px"
          />Linkedin
        </li>
      </ul>
    </section>
  </div>
</footer>
