---

---

<footer>
  <h1>Contact</h1>

  <section>
    <h2>general enquires</h2>
    <ul>
      <li>+32 484 26 15 85</li>
      <li>dalila.idigova04@gmail.com</li>
      <li>Ghent, Belgium</li>
    </ul>
  </section>

  <section>
    <h2>socials</h2>
    <ul>
      <li>linkedin</li>
    </ul>
  </section>

</footer>
