---
const {project} = Astro.props

---

<style>
  .card {
    display: flex;
    width: 20rem;
    padding: 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    border-radius: 0.75rem;
    background: #fefefe;
  }

  .card__title {
    display: flex;
    padding: 0 0.5rem;
    align-items: baseline;
    gap: 0.5rem;
    align-self: stretch;
  }

  .card__bodycopy {
    font-family: "HelveticaNeue";
    font-size: 1.5rem;
    line-height: normal;
    color: #282828;
  }

  .card__project {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    border-radius: 0.5em;
    border: 1px solid #e4e4e4;
  }

  .project__image {
    width: 100%;
  }
</style>
<div class="card">
  <div class="card__title">
    <p class="card__bodycopy">{project.title}</p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="12"
      viewBox="0 0 12 12"
      fill="none"
    >
      <path
        d="M11.0041 0.580494C10.9984 0.254272 10.7293 -0.00556743 10.4031 0.000126625L5.08702 0.0929194C4.7608 0.098614 4.50096 0.367685 4.50665 0.693908C4.51235 1.02013 4.78142 1.27997 5.10764 1.27428L9.83307 1.19179L9.91555 5.91722C9.92124 6.24344 10.1903 6.50328 10.5165 6.49759C10.8428 6.49189 11.1026 6.22282 11.0969 5.8966L11.0041 0.580494ZM0.425049 10.9341L0.850012 11.3445L10.8384 1.00119L10.4134 0.590805L9.98847 0.180423L8.57786e-05 10.5237L0.425049 10.9341Z"
        fill="black"></path>
    </svg>
  </div>
  <div class="card__project">
    <img
      class="project__image"
      src={project.image}
      alt="silica gel design project"
    />
  </div>
</div>
