---
const { project } = Astro.props;
---

<style>
  .details__bodycopy {
    font-family: "HelveticaNeueRoman", sans-serif;
    font-size: 1rem;
    line-height: 140%;
    font-weight: 300;
    
  }

  .img__container {
    width: 100%;
    img { 
    width: 100%;
    height: 100%;
    object-fit: cover;   

    }
  }
  section { 
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .back__btn { 
    text-decoration: none;
  }

  .project{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 2rem;

  }

  .btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
  }

  .project__title { 
    font-size: 3rem;
  }
</style>
<section class="project">
  <h1 class="project__title">{project.title}</h1>
  <p class="details__bodycopy">{project.subtitle}</p>
  <div class="img__container">
    <img src={project.image} />
  </div>

  <div class="btn">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="9" viewBox="0 0 16 9" fill="none">
  <path d="M0.178238 4.05045C-0.059389 4.28808 -0.059389 4.67335 0.178238 4.91097L4.05059 8.78332C4.28821 9.02095 4.67348 9.02095 4.91111 8.78332C5.14873 8.5457 5.14873 8.16043 4.91111 7.9228L1.46902 4.48071L4.91111 1.03863C5.14873 0.800999 5.14873 0.41573 4.91111 0.178104C4.67348 -0.0595226 4.28821 -0.0595226 4.05059 0.178104L0.178238 4.05045ZM15.4185 4.48071V3.87223L0.608498 3.87223V4.48071V5.08919H15.4185V4.48071Z" fill="black"/>
</svg>
<a href="/" class="back__btn">Go back</a>
  </div>
</section>
